* {
  background-color: black;
  font-family: Verdana;
}
h1 {
  color: white;
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
h3 {
  color: gray;
  font-size: 21px;
}
p {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
footer {
text-align: right;
color: gray;
}
.video {
  object-fit: contain;
  height: 700;
  width: 400;
}
.camp {
  height: 527;
  width: 896;
}
.cell {
  height: 108;
  width: 64;
}
